    {% extends 'A2CCoreBundle::layout.html.twig' %}

{% block body -%}
    <header class="row page-header">

        <h2 class="col-lg-8">{{ 'Post'|trans }} <small>{{ 'Edit'|trans }}</small></h2>
        <div class="col-lg-4">
            <div class="btn-group pull-right">
                <a href="{{ path('post_new') }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ 'Add'|trans }}
                </a>
                <a href="{{ path('post_edit',{ 'id': entity.id }) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                    {{ 'Edit'|trans }}
                </a>
            </div>
        </div>
    </header>

    {{ form(edit_form) }}

{% endblock %}
