{% extends 'A2CCoreBundle::layout.html.twig' %}

{% block body -%}
    <header class="row page-header">

        <h2 class="col-lg-8">{{ 'Post'|trans }} <small>{{ 'Show'|trans }}</small></h2>
        <div class="col-lg-4">
            <div class="btn-group pull-right">
                <a href="{{ path('post_new') }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ 'Add'|trans }}
                </a>
                <a href="{{ path('post_edit',{ 'id': entity.id }) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                    {{ 'Edit'|trans }}
                </a>
            </div>
        </div>
    </header>
    <section>

        <div class="alert alert-info">Mensagem de informação.</div>
        <div class="alert alert-danger">Mensagem de erro.</div>
        <div class="alert alert-success">Mensagem de sucesso.</div>

        <div class="table-responsive">

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>{{ 'Id'|trans }}</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Name'|trans }}</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Date'|trans }}</th>
                        <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endblock %}
