{% block extends %}
{{ "{% extends 'A2CCoreBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
    <header class="row page-header">

        <h2 class="col-lg-8">{{ "{{ '"~ entity ~"'|trans }}" }} <small>{{ "{{ 'New'|trans }}" }}</small></h2>

    </header>
    <section>

        <div class="alert alert-info">Mensagem de informação.</div>
        <div class="alert alert-danger">Mensagem de erro.</div>
        <div class="alert alert-success">Mensagem de sucesso.</div>

        {{ '{{ form(form) }}' }}

        {% set hide_edit, hide_delete = true, true %}

    </section>
{{ "{% endblock %}" }}
{% endblock body %}
