{% block extends %}
{{ "{% extends 'A2CCoreBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
        <section class="content-header">
            <h1>
                {{ "{{ '"~ entity ~"'|trans }}" }}
                <small>{{ "{{ 'Details'|trans }}" }}</small>
            </h1>
            {{ "{{ a2c_breadcrumbs_render() }}" }}
        </section>

        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <section class="row">
                        <div class="col-lg-4">
                            <div class="btn-group">
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    {{ "{{ 'List'|trans }}" }}
                                </a>
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    {{ "{{ 'New'|trans }}" }}
                                </a>
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit',{id: entity."~ identifier ~"}) }}" }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    {{ "{{ 'Edit'|trans }}" }}
                                </a>
                                <button type="button" class="btn btn-danger" title="" data-target="#modalDelete" data-toggle="modal">
                                    <span class="glyphicon glyphicon-remove"></span> {{ "{{ 'Remove'|trans }}" }}
                                </button>
                                {{  "{% embed 'A2CCoreBundle:partial:modalDelete.html.twig' with {
                                        form: delete_form,
                                        route: '" ~ route_name_prefix ~ "_delete',
                                        id: entity."~ identifier ~"
                                    } %} " }}
                                {{  "{% endembed %}" }}
                            </div>
                        </div>
                    </section>
                    {{ "{% include 'A2CCoreBundle:partial:message.html.twig' %}" }}
                </div>
                <div class="box-body">
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <tbody>
                            {%- for field, metadata in fields %}

                                <tr>
                                    <th>{{ "{{ '" ~ field|capitalize ~ "'|trans }}" }}</th>

                                    {%- if metadata.type in ['date', 'datetime'] %}

                                        {%- if metadata.type == 'datetime' %}

                                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ "|localizeddate('medium','medium',app.request.locale) }}{% endif %}" }}</td>

                                        {%- else %}

                                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ "|localizeddate('medium','none',app.request.locale) }}{% endif %}" }}</td>

                                        {%- endif %}

                                    {%- elseif metadata.type in ['boolean'] %}

                                    <td>{{ "{{ entity." ~ field|replace({'_': ''})  ~ " ? 'Yes'|trans : 'No'|trans " ~" }}" }}</td>

                                    {%- else %}

                                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                                    {%- endif %}

                                </tr>

                            {%- endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
{{ "{% endblock %}" }}
{% endblock body %}
