{% block extends %}
{{ "{% extends 'A2CCoreBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
    <header class="row page-header">

        <h2 class="col-lg-8">{{ "{{ '"~ entity ~"'|trans }}" }} <small>{{ "{{ 'Show'|trans }}" }}</small></h2>
        <div class="col-lg-4">
            <div class="btn-group pull-right">
                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ "{{ 'Add'|trans }}" }}
                </a>
                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit',{ '"~ identifier ~"': entity."~ identifier ~ " }) }}" }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                    {{ "{{ 'Edit'|trans }}" }}
                </a>
            </div>
        </div>
    </header>
    <section>

        <div class="alert alert-info">Mensagem de informação.</div>
        <div class="alert alert-danger">Mensagem de erro.</div>
        <div class="alert alert-success">Mensagem de sucesso.</div>

        <div class="table-responsive">

            <table class="table table-hover">
                <tbody>
                {%- for field, metadata in fields %}

                    <tr>
                        <th>{{ "{{ '" ~ field|capitalize ~ "'|trans }}" }}</th>

                    {%- if metadata.type in ['date', 'datetime'] %}

                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

                    {%- else %}

                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                    {%- endif %}

                    </tr>

                {%- endfor %}

                </tbody>
            </table>
        </div>
    {% set hide_edit, hide_delete = false, false %}
{{ "{% endblock %}" }}
{% endblock body %}
