<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>{{ app_short_name }}</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">{{ appname|raw }}</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="ion-earth"></i>
                        <span class="label label-danger">{{ app.request.locale | upper }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">{{ 'Select language'|trans }}</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {{ a2c_menu_language_render() }}
                            </ul>
                        </li>
                        <li class="footer"></li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-user"></span>
                        <span class="hidden-xs">{{ app.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ path('fos_user_change_password') }}" class="btn btn-default btn-flat">{{ 'Change Password'|trans }}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path("fos_user_security_logout") }}" class="btn btn-default btn-flat">{{ 'Logout'|trans }}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>