<div id="modalDelete{{ id }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{ 'Remove'|trans }}</h4>
            </div>

            <div class="modal-body">
                {{ 'Are you sure you want to remove this record'|trans }} ?
            </div>

            <div class="modal-footer">
                <div class="btn-group pull-right">
                    {% block form_open %}<form class="form-delete-inline" action="{{ path(route, { 'id': id }) }}" method="post">{% endblock %}
                        {% block method %}
                            <input type="hidden" name="_method" value="DELETE" />
                        {% endblock %}
                        {% block id %}
                            <input type="hidden" name="id" value="{{ id }}" />
                        {% endblock %}
                        {% block token %}
                            <input type="hidden" name="form[_token]" value="{{ form._token.vars.value }}" />
                        {% endblock %}
                        {% block action %}
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ 'No'|trans }}</a>
                            <button type="submit" class="btn btn-danger" title="{{ 'Remove' | trans }}">
                                {% block action_icon %}<span class="glyphicon glyphicon-remove"></span>{% endblock %} {{ 'Remove' | trans }}
                            </button>
                        {% endblock %}
                    {% block form_close %}</form>{% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>