    {% extends 'A2CCoreBundle::layout.html.twig' %}

{% block body -%}
        <section class="content-header">
            <h1>
                {{ 'Language'|trans }}
                <small>{{ 'Edit'|trans }}</small>
            </h1>
            {{ a2c_breadcrumbs_render() }}
        </section>

        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <section class="row">
                        <div class="col-lg-4">
                            <div class="btn-group">
                                <a href="{{ path('admin_language') }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    {{ 'List'|trans }}
                                </a>
                                <a href="{{ path('admin_language_new') }}" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    {{ 'New'|trans }}
                                </a>
                                <button type="button" class="btn btn-danger" title="" data-target="#modalDelete" data-toggle="modal">
                                    <span class="glyphicon glyphicon-remove"></span> {{ 'Remove'|trans }}
                                </button>
                                {% embed 'A2CCoreBundle:partial:modalDelete.html.twig' with {
                                        form: delete_form,
                                        route: 'admin_language_delete',
                                        id: entity.id
                                    } %} 
                                {% endembed %}
                            </div>
                        </div>
                    </section>
                    {% include 'A2CCoreBundle:partial:message.html.twig' %}
                </div>
                {{ form_start(form, {action : path('admin_language_update',{ id: entity.id}) }) }}
                   <input name="_method" value="PUT" type="hidden"/>
                    <div class="box-body">
                        {{ form_widget(form) }}
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> {{ 'Submit'|trans }}</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/css/jquery.fileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/css/jbfileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/lib/jcrop/css/jquery.Jcrop.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/js/jbfileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jcrop/js/jquery.Jcrop.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('.jb_fileupload').jbFileUpload();
        });
    </script>
{% endblock %}